<h1>スレッド詳細</h1>
<p></p>
<h2>コメント一覧<h2>
<table style="font-size: 18px;">
  <thead>
    <tr>
      <th>By</th>
      <th>Message</th>
      <th colspan="3"></th>
    </tr>
  </thead>
  <tbody>
    <% @comments.each do  |comment| %>
      <tr>
        <td><%= comment.user.name %></td>
        <td><%= comment.message %></td>
        <td><%= link_to_if(comment.user_id == current_user.id, "edit", edit_my_thread_comment_path(@my_thread, comment)) {}%></td>
        <td><%= link_to_if(comment.user_id == current_user.id, "destroy", my_thread_comment_path(@my_thread, comment), method: :delete, data:{confirm: "Are you sure?"}) {}%></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>
<%= link_to 'new comment', new_my_thread_comment_path %>
