<h1>ようこそ</h1>
<p>トップページです。</p>
<h2>スレッド一覧</h2>
<table style="font-size: 18px;">
  <thead>
    <tr>
      <th>Title</th>
      <th colspan="3"></th>
    </tr>
  </thead>
  <tbody>
    <% @my_threads.each do  |my_thread| %>
      <tr>
        <td><%= my_thread.title %></td>
        <td><%= link_to 'show', my_thread_comments_path(my_thread) %></td>
        <td><%= link_to_if(my_thread.user_id == current_user.id , 'edit', edit_my_thread_path(my_thread)) {}%></td>
        <td><%= link_to_if(my_thread.user_id == current_user.id, 'destroy', my_thread_path(my_thread), method: :delete ,data:{confirm: 'Are you sure?'}) {}%></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>
<%= link_to 'new thread', new_my_thread_path %>
